<div class="save-dialog-layout">
    <canvas #previewCanvas class="preview-layer" [attr.draggable]="false" [attr.height]="previewCanvasHeight" [attr.width]="previewCanvasWidth">
    </canvas>

    <div class="bottom-part">
        <div class="save-container">
            <mat-form-field class="image-text-box">
                <mat-label>Veuillez entrer le nom du dessin</mat-label>
                <input matInput [formControl]="imgName" required />
                <mat-error *ngIf="buttonDisabled">Nom obligatoire</mat-error>
            </mat-form-field>
            <mat-form-field class="chip-field">
                <mat-label>Étiquettes</mat-label>
                <mat-chip-list #chipList aria-label="Tag selection" class="chip-list">
                    <mat-chip *ngFor="let tag of tags" [selectable]="false" [removable]="true" (removed)="remove(tag)">
                        {{ tag }}
                        <mat-icon matChipRemove svgIcon="mdi-close-circle"></mat-icon>
                    </mat-chip>
                    <input
                        placeholder="Nouvelle étiquette..."
                        [matChipInputFor]="chipList"
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                        [matChipInputAddOnBlur]="true"
                        (matChipInputTokenEnd)="add($event)"
                    />
                </mat-chip-list>
                <mat-hint class="etiquette-specs">
                    Chacune des étiquettes est singulière<br />
                    Aucun espace ni caractères spéciaux i.e &#33;&#37;&#42;&#233;&#250;&#126;..<br />
                    1 à 20 caractère(s) <br />
                </mat-hint>
            </mat-form-field>
        </div>

        <mat-divider></mat-divider>
        <div class="buttons" style="text-align: center">
            <div mat-dialog-actions align="end">
                <button mat-button class="confirmationButton" [disabled]="buttonDisabled" (click)="onSave(true)">Sauvegarder en PNG</button>
                <button mat-button class="confirmationButton" [disabled]="buttonDisabled" (click)="onSave(false)">Sauvegarder en JPEG</button>
                <button class="cancel-button" mat-button (click)="onCancel()">Fermer</button>
            </div>
        </div>
    </div>
</div>
