@import '~@angular/material/theming';

::ng-deep .save-dialog > mat-dialog-container {
    background-color: transparent !important;
    @include mat-elevation(0);
}

.save-dialog-layout {
    display: grid;
}

.mat-form-field {
    display: block;
}

.preview-layer {
    @include mat-elevation(2);
    overflow: hidden;
    border-radius: 5px;
}

.confirmationButton {
    color: red;
}

.image-text-box,
.chip-field {
    width: 450px;
    margin-left: 25px;
}

.bottom-part {
    padding-top: 10px;
    padding-bottom: 25px;
    background-color: white;
    width: 500px;
    justify-self: right;
    @include mat-elevation(2);
    margin-right: 40px;
    border-radius: 0px 0px 5px 5px;
}

.buttons {
    margin-right: 10px;
}
