#chatbox {
    width: 100%;
}

#chat-history {
    text-align: left;
    margin-top: 110px;
    margin: 0 auto;
    padding: 10px;
    height: 300px;
    border: 1px solid #000000;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 15px;
}

#messageInput {
    border: 1px solid #000000;
    display: block;
    flex-direction: column;
    overflow-wrap: break-word;
    width: 97%;
    border-radius: 10px;
    height: 24px;
}

.message {
    // add back when chat authors are incorporated
    // display: inline-block;
    color: white;
    font-family: 'Helvetica Neue' 'sans-serif';
    padding: 5px 10px 5px 10px;
    border-radius: 6px 6px 6px 6px;
    max-width: 80%;
    width: auto;
    max-width: auto;
    height: auto;
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin-bottom: 20px;
    clear: both;
    white-space: pre-wrap;
    // remove float and bg right when chat authors are incorporated
    float: right;
    background: #50223C;
}