.resizeButton {
    background-color: orangered;
    position: absolute;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.selection-box-canvas {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

.selection-rectangle {
    position: absolute;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
