.container {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
}

.left {
    padding: 20px;
    float: left;
    width: 18%;
}

.main {
    padding: 20px;
    float: left;
    width: 60%;
}

.right {
    padding: 20px;
    float: left;
    width: 18%;
}