.request-table {
    width: 100%;
    margin-bottom: 15%;
}

.accept {
    border: medium none;
    border-radius: 50%;
    background-color: #50223c;
    color: hsl(43, 33%, 96%);
    float: right;
    margin-left: 2px;
}
