<div class="container">

    <h1 class="header-item">PolyPaint</h1>
    <div *ngIf='userAuthentificationService.userIsAlreadySubscribed ; else shoudSubscribe'>

        <app-log-in></app-log-in>
    </div>
    <ng-template #shoudSubscribe>
    <app-registration></app-registration></ng-template>

</div>














<!-- <div class="container justified">
    <div id="chatbox">
        <div #scrollMe id="chat-history">
            <div *ngFor="let chat of this.chatCommunicationService.chatHistory" class="message">
                {{ chat }}
            </div>
        </div>
        <div>
            <input #clearMe (keyup.enter)="onKeyup($event)" type="message" name="messageInput" id="messageInput"
                maxlength="512" />
        </div>
    </div>

</div> -->
